ServiceMonitor/Service References/ServiceReferenceSemVITICw/AccesToDb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Dostęp do bazy danych za pomocą web servisu</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckClient2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:ClientGridViewModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientGridViewModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckClient2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckClient2Result" type="tns:ClientGridViewModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CheckClient2SoapIn">
    <wsdl:part name="parameters" element="tns:CheckClient2" />
  </wsdl:message>
  <wsdl:message name="CheckClient2SoapOut">
    <wsdl:part name="parameters" element="tns:CheckClient2Response" />
  </wsdl:message>
  <wsdl:portType name="TechnologieInternetoweCwSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckClient2">
      <wsdl:input message="tns:CheckClient2SoapIn" />
      <wsdl:output message="tns:CheckClient2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TechnologieInternetoweCwSoap" type="tns:TechnologieInternetoweCwSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckClient2">
      <soap:operation soapAction="http://tempuri.org/CheckClient2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TechnologieInternetoweCwSoap12" type="tns:TechnologieInternetoweCwSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckClient2">
      <soap12:operation soapAction="http://tempuri.org/CheckClient2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TechnologieInternetoweCw">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Dostęp do bazy danych za pomocą web servisu</wsdl:documentation>
    <wsdl:port name="TechnologieInternetoweCwSoap" binding="tns:TechnologieInternetoweCwSoap">
      <soap:address location="http://localhost:1595/AccesToDb.asmx" />
    </wsdl:port>
    <wsdl:port name="TechnologieInternetoweCwSoap12" binding="tns:TechnologieInternetoweCwSoap12">
      <soap12:address location="http://localhost:1595/AccesToDb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>